.main_card{
  position: relative;
}
.form-group{
  margin-top: 10px;
}
.form-group label{
  font-size: 16px;
  color: rgb(44, 44, 44);
}
.form-group input{
  font-size: 17px;
}
.form-group:first-child{
  margin-top: -3px;
}
.container-scroller{
  padding: 40px 0px;
}
.restart_form{
  position: absolute;
  top: 70px;
  right: 43px;
}